[data-letters]:before {
  content: attr(data-letters);
  display: inline-block;
  font-size: 1em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: #f97315;
  vertical-align: middle;
  margin-right: 1em;
  color: white;
  text-transform: uppercase;
}

.page {
  display: flex;
}

aside {

  transition: all 0.3s ease 0s;
}


.right {
  background-color: blue;
  width: 100%;
  height: 200vh;
}



@media (max-width: 430px) {
  aside {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
}