[data-letters]:before {
  content: attr(data-letters);
  display: inline-block;
  font-size: 1em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: #f97315;
  vertical-align: middle;
  margin-right: 1em;
  color: white;
  text-transform: uppercase;
}

.page {
  display: flex;
}

aside {

  transition: all 0.3s ease 0s;
}


.right {
  background-color: blue;
  width: 100%;
  height: 200vh;
}


.dashboard-sidebar {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.dashboard-header {
  box-shadow: rgba(100, 100, 111, 0.2) 30px 7px 29px 0px;

}

@media (max-width: 430px) {
  aside {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
}
.MuiAccordion-root {
  border-radius: 0;
  border: none;
  box-shadow: none;
}
.MuiAccordionSummary-root {
  padding: 0;
  min-height: auto;
}
.MuiAccordionSummary-content {
  margin: 0;
}
.MuiAccordionDetails-root {
  padding: 0;
}

.opened{
  &{
    position: fixed;
    left: 0;
    top: 60px;
    background-color: #fff;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all .5s ease-in;
    overflow: hidden;
  }
  &.active{
    width: 100%;
  }

}